<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foresys.app1.sample.mapper.SampleMapper">

	<select id="getMemberList" resultType="hmap">
		SELECT * FROM USR_USERMNG
	</select>
	
</mapper>